:root {
    /* Main Color */
    --color-main: #E94C13;
    /* Secondary Color */
    --color-secondary: #64CBC0;
    /* Third Color */
    --color-3: #48A9C5;
    /* Fourth Color */
    --color-4: #165C7D;
    /* Fifth Color */
    --color-5: #E94C13;
}
